
<div class="row">
  <h1 class="text-success">Student Manager</h1>
  <hr>
</div>
<div class="row">
<div class="col-4">
  <h6><span class="badge badge-secondary"> 1</span> Enter student  detilas</h6>
  <form (ngSubmit)="onSubmit(form)" #form="ngForm">
 
    <div class="form-group">
      <input type="hidden" name="id" #id="ngModel"  [(ngModel)]="service.fromdta.id">
      <label for="name">Student</label>
      <input type="text" class="form-control" name="name" #name="ngModel"  [(ngModel)]="service.fromdta.name">
    </div>
    <div class="form-group">
      <label for="name">e-mail</label>
      <input type="text" class="form-control" name="emailId" #emailId="ngModel"  [(ngModel)]="service.fromdta.emailId">
    </div>
    <div class="form-group">
      <label for="name">age</label>
      <input type="text" class="form-control" name="age" #age="ngModel"  [(ngModel)]="service.fromdta.age">
    </div>
    <br>
    <h6><span class="badge badge-secondary"> 2</span> Save</h6>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
<div class="col-4">
  <br>
  <h4><span class="label label-default">Student Lists</span></h4>
  <app-student-list></app-student-list>
</div>
</div>